<footer>
  <div class="footer-socials">
    <a href="https://www.instagram.com/hernandezhotrods" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/hernandezhotrods" target="_blank" aria-label="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
  </div>

  <p>&copy; <%= new Date().getFullYear() %> Hernandez Hot Rods & Customs. All rights reserved.</p>
</footer>
