<main class="page shop">
  <section class="shop-coming-soon">
    <div class="shop-message">
      <h1 class=""><span>OUR SHOP ISN’T LIVE YET...</span></h1>
      <p>But it will be soon. Check back for official merchandise, parts, and more from Hernandez Hot Rods & Customs.</p>
    </div>
  </section>
</main>