<main class="builds-landing">
  <a href="/builds/current" class="build-tile left">
    <div class="bg-image"></div> <!-- NEW -->
    <div class="overlay">
      <h2>Current Builds</h2>
    </div>
  </a>

  <a href="/builds/completed" class="build-tile right">
    <div class="bg-image"></div> <!-- NEW -->
    <div class="overlay">
      <h2>Completed Builds</h2>
    </div>
  </a>
</main>
